bin/
gen/
.*
!.gitignore
target/
!.arc*

*.apk
*.ap_

*.dex

build/
config/checkstyle/

.gradle
gradlew*
gradle/

local.properties

.classpath
.project

proguard/

*.iml
*.ipr
*.iws
.ideaml
*.ipr
*.iws
.idea/
