<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monits.agilefant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.monits.agilefant.activity.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".activity.AllBackLogsActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".activity.IterationActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>