<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.monits.agilefant"
    android:versionCode="4"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
        android:name="com.monits.agilefant.AgilefantApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:allowBackup="true">
        
        <activity
            android:name="com.monits.agilefant.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".activity.AllBackLogsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/backlogs" />
        <activity
            android:name=".activity.IterationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/iteration"
            android:parentActivityName=".activity.AllBackLogsActivity" />
        <activity
            android:name=".activity.DailyWorkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/daily_work"
            android:parentActivityName=".activity.AllBackLogsActivity" />
        <activity
            android:name=".activity.ProjectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/project_details"
            android:parentActivityName=".activity.AllBackLogsActivity" />
        <activity
            android:name=".activity.SavingTaskTimeDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Dialog" />
       		
		<service
		    android:exported="false"
            android:name="com.monits.agilefant.service.TaskTimeTrackingService"
            android:enabled="true" >
        </service>
        
    </application>

</manifest>